<div class="row mt-5 justify-content-center">

    <div class="col-sm-8">

        <h1>Lista de datos</h1>
        <hr>

        <a href="/datos/add" class="btn btn-success mb-3"><i class="fa fa-plus"></i> Añadir datos</a>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Indicador</th>
                    <th colspan="2" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                {{#each items}}
                    <tr>
                        {{#with this}}
                        <td>{{id}}</td>
                        <td><a href="/datos/view/{{id}}" class="text-decoration-none">{{indicador}}</a></td>
                        <td><button onclick="duplicarDatos('{{id}}')" class="btn btn-primary btn-sm">Duplicar</button></td>
                        <td><a href="javascript: modalDelete('{{id}}')" class="text-danger"><i class='fas fa-trash'></i></a></td>
                        {{/with}}
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <br>
        
    </div>
</div>

<!-- Modal Confirmación -->
<div class="modal fade" id="confirm-modal" tabindex="-1" aria-labelledby="confirm-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="confirm-modal-label">Confirmar</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="modal-btn-si">Sí</button>
        <button type="button" class="btn btn-secondary" id="modal-btn-no" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>


<script>
var modalConfirm = function(callback){
  $("#modal-btn-si").on("click", function(){
    callback(true);
    $("#confirm-modal").modal('hide');
  });
  $("#modal-btn-no").on("click", function(){
    callback(false);
    $("#confirm-modal").modal('hide');
  });
};

function modalDelete(id) {
    modalConfirm(function(confirm){
    if(confirm){
        $.ajax({
            url: '/datos/' + id,
            type: 'DELETE',
            success: function(result) {
                $("#confirm-modal").modal('hide');
                alert('Datos borrados correctamente');
                location.reload();
            }
        });
    }

    });
    $("#confirm-modal").modal('show');
}

</script>

<script>
    function duplicarDatos(id) {
        $.post(`/datos/duplicate/${id}`, function(response) {
            alert('Dato duplicado con éxito.');
            window.location.href = `/datos/list`;
        }).fail(function() {
            alert('Error al duplicar el dato.');
        });
    }
</script>