<div>
    <a href="/datos/list">Listado de datos</a>
</div>
<div class="container">

    <h1>{{datos.indicador}}</h1>
    <hr>
    <form>
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" placeholder="ID">
            <label for="ambito">Ámbito</label>
            <input type="text" class="form-control" id="ambito" placeholder="Ambito">
            <label for="nivel">Nivel</label>
            <input type="text" class="form-control" id="nivel" placeholder="Nivel">
            <label for="distintivo">Distintivo</label>
            <input type="text" class="form-control" id="distintivo" placeholder="Distintivo">
            <label for="anno_inicial">Año de inicio</label>
            <input type="text" class="form-control" id="anno_inicial" placeholder="Año de inicio">
            <label for="anno_final">Año de final</label>
            <input type="text" class="form-control" id="anno_final" placeholder="Año de final">
            <br>
            <div id="camposAdicionales">
                {{#each datos.nuevosCampos}}
                    <label for="{{@key}}">{{@key}}</label>
                    <input type="text" class="form-control" id="{{@key}}" value="{{this}}">
                    <br>
                {{/each}}
            </div>
            <br>
            <button type="button" class="btn btn-primary" id="agregarCampo"><i class="fa fa-plus"></i> Añadir nuevo campo</button><br>
            

        </div>
    </form>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <br>
                <div id="container" style="height: 600px; border: 1px solid grey"></div>
                <button type="button" class="btn btn-primary" id="saveButton">Guardar cambios</button>
            </div>
        </div>
    </div>

</div>



<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="/public/js/monaco-editor/min/vs/loader.js"></script>

<script>
	require.config({ paths: { vs: '/public/js/monaco-editor/min/vs' } });
	require(['vs/editor/editor.main'], function () {
		var editor = monaco.editor.create(document.getElementById('container'), {
			language: 'json'
		});
        var datos = null;
		$.get('/datos/item/{{datos.id}}',
			function( data ) {
				datos = data; 
    
				editor.setValue(JSON.stringify(datos.data, null, 2));
                $('#indicador').val(data.indicador);
                $('#id').val(data.id);
                $('#ambito').val(data.ambito);
                $('#nivel').val(data.nivel);
                $('#distintivo').val(data.distintivo);
                $('#anno_inicial').val(data.anno_inicial);
                $('#anno_final').val(data.anno_final);  

				editor.getModel().onDidChangeContent((event) => {
					$('#saveButton').prop('disabled', false);
				});
		    });
		$("#saveButton").click(function(){
			datos.data = JSON.parse(editor.getValue()) 
            datos.id = $('#id').val()
            datos.indicador = $('#indicador').val()
            datos.ambito = $('#ambito').val()
            datos.nivel = $('#nivel').val()
            datos.distintivo = $('#distintivo').val()
            datos.anno_inicial = $('#anno_inicial').val()
            datos.anno_final = $('#anno_final').val()

			$.ajax({
				url: '/datos',
				type: 'PUT',
				data: datos,
				success: function(data) {
					alert('Datos actualizados correctamente');
					$('#saveButton').prop('disabled', true);
                    window.location.href = '/datos/list';
				},
                error: function(error) {
                    console.error('Error al actualizar datos:', error);
                }
			});
		});
		$('#id').change(function(){
			$('#saveButton').prop('disabled', false);
		});
	});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var agregarCampo = document.getElementById('agregarCampo');
        var camposContainer = document.getElementById('camposAdicionales');
        var guardar = document.getElementById('saveButton');

        agregarCampo.addEventListener('click', function() {
            var nuevoLabelInput = document.createElement('input');
            nuevoLabelInput.type = 'text';
            nuevoLabelInput.className = 'form-control';
            nuevoLabelInput.placeholder = 'Inserte aquí el título del dato';

            var nuevoCampo = document.createElement('input');
            nuevoCampo.type = 'text';
            nuevoCampo.className = 'form-control';
            nuevoCampo.placeholder = 'Inserte aquí los datos';

            var nuevoDiv = document.createElement('div');
            nuevoDiv.appendChild(nuevoLabelInput);
            nuevoDiv.appendChild(nuevoCampo);
            camposContainer.appendChild(nuevoDiv);
        });

        guardar.addEventListener('click', function(){
            var nuevosCamposDivs = camposContainer.querySelectorAll('div');
            var datosNuevos = [];

            nuevosCamposDivs.forEach(function(div) {
                var labelInput = div.querySelector('input[type="text"]');
                var labelValue = labelInput ? labelInput.value : '';

                var campoInput = div.querySelector('input[type="text"]');
                var campoValue = campoInput ? campoInput.value : '';
                
                datosNuevos.push({
                    titulo: labelValue,
                    valor: campoValue
                });
            });

            $.ajax({
                url: '/datos/addFields',
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(datosNuevos),
                success: function(data) {
                    console.log(data);
                    alert('Datos agregados correctamente con $addFields');
                    $('#saveButton').prop('disabled', true);
                    window.location.href = '/datos/list';
                },
                error: function(error) {
                    console.error('Error al enviar datos al servidor:', error);
                }
            });
        });
    });
</script>
