<div>
    <a href="/datos/list">Listado de datos</a>
</div>
<div class="container">

    <h1>{{indicador}}</h1>
    <hr>
    <form id="camposContainer">
        <div class="form-group">

            {{#each campos}}
                <i class="fas fa-trash" id="papelera" style="cursor: pointer;" onclick="borrarCampo('{{@key}}')"></i>
                <label for="{{@key}}">{{@key}}</label>
                <input type="text" class="form-control" id="{{@key}}" value="{{this}}">

                <script>
                    var inputElement = document.getElementById("{{@key}}");
                    if ("{{@key}}" === "id") {
                        inputElement.setAttribute("disabled", "disabled");
                        const papelera = document.getElementById("papelera");
                        papelera.remove();
                    }if("{{@key}}" === "indicador"){
                        const papelera = document.getElementById("papelera");
                        papelera.remove();
                    }
                </script>
            {{/each}}

        </div>
    </form>

    <br>
    <button type="button" class="btn btn-primary" id="agregarCampo"><i class="fa fa-plus"></i> Añadir nuevo campo</button><br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <br>
                <div id="container" style="height: 600px; border: 1px solid grey"></div>
                <button type="button" class="btn btn-primary" id="saveButton">Guardar cambios</button>
            </div>
        </div>
    </div>

</div>



<!-- OR ANY OTHER AMD LOADER HERE INSTEAD OF loader.js -->
<script src="/public/js/monaco-editor/min/vs/loader.js"></script>

<script>
	require.config({ paths: { vs: '/public/js/monaco-editor/min/vs' } });
	require(['vs/editor/editor.main'], function () {
		var editor = monaco.editor.create(document.getElementById('container'), {
			language: 'json'
		});
        var datos = null;
		$.get('/datos/item/{{campos.id}}',
			function( data ) {
				datos = data; 
    
				editor.setValue(JSON.stringify(datos.data, null, 2));

				editor.getModel().onDidChangeContent((event) => {
					$('#saveButton').prop('disabled', false);
				});
		    });

		$("#saveButton").click(function(){
            var datos = {}
            var camposContainer = document.getElementById('camposContainer');
            var nuevosCamposDivs = camposContainer.querySelectorAll('.form-control');
            
            nuevosCamposDivs.forEach(function(fieldInput) {
                var labelValue = fieldInput ? fieldInput.id : '';
                var campoValue = fieldInput ? fieldInput.value : '';
                
                datos[labelValue] = campoValue
            });
			datos['data'] = JSON.parse(editor.getValue().replace(/(\r\n|\n|\r)/gm, "")); 
            
			$.ajax({
				url: '/datos',
				type: 'PUT',
				data: JSON.stringify(datos),
                contentType: 'text/plain',
				success: function(data) {
					alert('Datos actualizados correctamente');
					$('#saveButton').prop('disabled', true);
                    window.location.href = '/datos/list';
				},
                error: function(error) {
                    console.error('Error al actualizar datos:', error);
                }
			});
		});
		$('#id').change(function(){
			$('#saveButton').prop('disabled', false);
		});
	});
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var agregarCampo = document.getElementById('agregarCampo');
        var camposContainer = document.getElementById('camposContainer');
        var guardar = document.getElementById('saveButton');
        var id = $('#id').val();
        console.log("Valor del id: " + id);

        agregarCampo.addEventListener('click', function() {
            let label = prompt('Introduce el nombre del nuevo campo')

            var nuevoLabel = document.createElement('label');
            nuevoLabel.for = label
            nuevoLabel.innerHTML = label

            var nuevoCampo = document.createElement('input');
            nuevoCampo.type = 'text';
            nuevoCampo.className = 'form-control';
            nuevoCampo.id = label
            nuevoCampo.placeholder = 'Inserte aquí los datos';

            var nuevoDiv = document.createElement('div');
            nuevoDiv.className = 'form-group'
            nuevoDiv.appendChild(nuevoLabel);
            nuevoDiv.appendChild(nuevoCampo);
            camposContainer.appendChild(nuevoDiv);
        });
    }); 
</script>


<script>
    function borrarCampo(campo) {
        var id = $('#id').val();
        var confirmacion = confirm('¿Quieres borrar este campo?');
        console.log("El valor del id es: " + id);
        console.log("El campo es: " + campo);
        if (confirmacion) {
            $.ajax({
                url: `/datos/deleteFields/${id}`,
                type: 'DELETE',
                contentType: 'application/json',
                data: JSON.stringify([campo]),
                success: function(data, textStatus, xhr) {
                    if(xhr.status === 200){
                        console.log(data);
                        alert('Campo borrado correctamente');
                        window.location.reload();
                    }     
                },
                error: function(error) {
                    console.error('Error al borrar el campo:', error);
                }
            });
        }
    }
</script>