<div>
	<a href="/dashboard/list">Listado de páginas / paneles</a>
</div>

<div class="container">

<h1>Editor de página / panel</h1>
<form>
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="Nombre" value="{{dashboard.name}}">
    <label for="description">Descripción</label>
    <input type="text" class="form-control" id="description" placeholder="Descripcion" value="{{dashboard.description}}">
    <label for="grant">Permiso</label>
    <input type="text" class="form-control" id="grant" placeholder="Permiso" value="{{dashboard.grant}}">
    <label for="createdBy">Creado por</label>
    <input type="text" class="form-control" id="createdBy" placeholder="Creado por..." value="{{dashboard.created_by}}">
    <label for="creationDate">Fecha creación</label>
    <input type="text" class="form-control" id="creationDate" placeholder="Fecha creación" value="{{dashboard.creation_date}}">
    <label for="updateDate">Fecha actualización</label>
    <input type="text" class="form-control" id="updateDate" placeholder="Fecha última actualización" value="{{dashboard.creation_date}}">

    {{> templateSelect }}

    <div>
      <h1>Componentes</h1>
      <hr>

      <table>
          <thead>
              <th>marco</th>
              <th>orden</th>
              <th>tipo</th>
              <th>título</th>
          </thead>
          <tbody>
              {{#each dashboard.widgets}}
                  <tr>
                      {{#with this}}
                      <td>{{frame}}</td>
                      <td>{{order}}</td>
                      <td>{{type}}</td>
                      <td>{{title}}</td>
                      <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#widgetEdit" onclick="getData({{frame}}, {{order}})">Editar</button></td>
                      <td><a href="#" onclick="borrarWidget({{frame}}, {{order}})"><i class='fas fa-trash'></i></a></td>
                      {{/with}}
                  </tr>
              {{/each}}
          </tbody>
      </table>
      <a href="#" data-bs-toggle="modal" data-bs-target="#añadirNuevoWidget" ><i class="fa fa-plus"></i> Añadir widget</a>
    </div>

	  <button id="saveButton" type="button" class="btn btn-primary">Guardar dashboard</button>

  </div>
</form>

</div>


<!-- Modal window to edit widget properties -->

<div class="modal fade" id="widgetEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edición de componente</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">

          <div class="row">
            <div class="col">
              <label for="w_frame">Marco</label>
              <input type="text" class="form-control" id="w_frame" placeholder="Marco" disabled>
            </div>
            <div class="col">
              <label for="w_frame_new">Nuevo marco</label>
              <input type="text" class="form-control" id="w_frame_new" placeholder="Nuevo marco">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="w_order">Orden</label>
              <input type="text" class="form-control" id="w_order" placeholder="Orden" disabled>
            </div>
            <div class="col">
              <label for="w_order_new">Nuevo orden</label>
              <input type="text" class="form-control" id="w_order_new" placeholder="Nuevo orden">
            </div>
          </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="widgetSelect">Tipo de componente</label>
              </div>
              <select class="custom-select" id="widgetSelect">
                <option selected value="">Sin especificar...</option>
                {{#each widgets}}
                <option value="{{name}}">{{name}}/{{description}}</option>
                {{/each}}
              </select>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#widgetView" onclick="getWidgetTemplate()">Ver plantilla</button>
              <button type="button" class="btn btn-primary" onclick="editWidget()">Editar componente</button>
            </div>


            <label for="w_url">URL</label>
            <input type="text" class="form-control" id="w_url" placeholder="Orden" value="">
            <label for="w_doc">Documento</label>
            <input type="text" class="form-control" id="w_doc" placeholder="Documento" value="">
            <label for="w_grant">Permiso</label>
            <input type="text" class="form-control" id="w_grant" placeholder="Permiso" value="">
            <label for="w_title">Título</label>
            <input type="text" class="form-control" id="w_title" placeholder="Título" value="">
            <label for="w_info">Información</label>
            <input type="text" class="form-control" id="w_info" placeholder="Información" value="">
            <label for="w_label">Etiqueta</label>
            <input type="text" class="form-control" id="w_label" placeholder="Etiqueta" value="">

            {{> scriptSelect }}

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveWidgetButton">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>




<!-- modal view for adding widgets -->
<div class="modal fade" id="añadirNuevoWidget" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir widget</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">

          <div class="row">
            <div class="col">
              <label for="frame">Marco</label>
              <input type="text" class="form-control" id="frame" placeholder="Marco">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="order">Orden</label>
              <input type="text" class="form-control" id="order" placeholder="Orden">
            </div>
          </div>
            <hr>
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="NewWidgetSelect">Tipo de componente</label>
              </div>
              <select class="custom-select" id="NewWidgetSelect">
                <option selected value="">Sin especificar...</option>
                {{#each widgets}}
                <option value="{{name}}">{{name}}/{{description}}</option>
                {{/each}}
              </select>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#widgetView" onclick="NewGetWidgetTemplate()">Ver plantilla</button>
              <button type="button" class="btn btn-primary" onclick="NewEditWidget()">Editar componente</button>
            </div>

            <br>
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" placeholder="Orden" value="">
            <label for="doc">Documento</label>
            <input type="text" class="form-control" id="doc" placeholder="Documento" value="">
            <label for="grant">Permiso</label>
            <input type="text" class="form-control" id="grant" placeholder="Permiso" value="">
            <label for="title">Título</label>
            <input type="text" class="form-control" id="title" placeholder="Título" value="">
            <label for="info">Información</label>
            <input type="text" class="form-control" id="info" placeholder="Información" value="">
            <label for="label">Etiqueta</label>
            <input type="text" class="form-control" id="label" placeholder="Etiqueta" value="">
            <br>

            {{> NewScriptSelect }}

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button  onclick="añadirNuevoWidget()" type="button" class="btn btn-primary" id="guardarNuevoWidget">Añadir widget</button>
      </div>
    </div>
  </div>
</div>

<!-- modal for view template -->

<div class="modal fade" id="widgetView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="widgetViewHeader"></h5>
        <button type="button" class="close" onclick="$('#widgetView').modal('hide');" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="widgetViewText">
      </div>
    </div>
  </div>
</div>

<!-- Script for the page -->
<script>
  $('#templateSelect').val("{{dashboard.template}}");
  $('#saveButton').click(function(){
    data={
      name: $('#name').val(),
      grant: $('#grant').val(),
      created_by: $('#createdBy').val(),
      creation_date: $('#creationDate').val(),
      last_update: $('#updateDate').val(),
      template: $('#templateSelect').val(),
      description: $('#description').val(),
    };
    $.ajax({
      url: '/dashboard',
      type: 'PUT',
      data: data,
      success: function(data) {
        alert('Dashboard grabado correctamente');
        window.location.reload();
      }
    });
  });

  
  /*
  * Function to get the data of the widgets
  */
  function getData(frame,order) {
    console.log(frame);
    console.log(order);
    url = `/dashboard/widget/{{dashboard.name}}/${frame}/${order}`;
    console.log(url);
    $.ajax({
      url: url,
      type: 'GET',
      success: function(data) {
        console.log("Prueba")
        $("#w_frame").val(data.frame)
        $("#w_order").val(data.order)
        $("#w_frame_new").val(data.frame)
        $("#w_order_new").val(data.order)
        $("#w_type").val(data.type)
        $('#widgetSelect').val(data.type)
        $("#w_url").val(data.url)
        $("#w_doc").val(data.doc)
        $("#w_grant").val(data.grant)
        $("#w_title").val(data.title)
        $("#w_info").val(data.info)
        $("#w_label").val(data.label)
        $("#w_js").val(data.js)
        $("#scriptSelect").val(data.js)
        console.log(data)
      },
      error: function(error) {
        console.error('Error al mostrar el widget:', error);
        console.log("Error");
      }
    });
  }


  $("#saveWidgetButton").click(function() {
    data = {}
    data.frame = $("#w_frame").val()
    data.newFrame = $("#w_frame_new").val()
    data.order = $("#w_order").val()
    data.newOrder =  $("#w_order_new").val()
    data.type = $("#w_type").val()
    data.url = $("#w_url").val()
    data.doc = $("#w_doc").val()
    data.grant = $("#w_grant").val()
    data.title = $("#w_title").val()
    data.info = $("#w_info").val()
    data.label = $("#w_label").val()
    data.js = $("#w_js").val()
    $.ajax({
      url: `/dashboard/widget/{{dashboard.name}}`,
      type: 'PUT',
      data: data,
      success: function(data) {
        alert('Widget grabado correctamente');
        $('#widgetEdit').modal('hide');
      },
      failure: function (response) {
          alert(response.responseText);
      },
    });
  })


  function getWidgetTemplate() {
    widget = $("#widgetSelect").val()
    if(widget) {
        $.get('/widget/itemTemplate/' + widget,
			function( data ) {
				$('#widgetViewText').html(data.content);
				$('#widgetViewHeader').html(data.name);
        })
    }
  }

  function editWidget() {
    widget = $("#widgetSelect").val()
    if(widget) {
        document.location.href='/widget/editor/' + widget
    }
  }

  /*
  * Function to view templates when adding widgets
  */
  function NewGetWidgetTemplate() {
    widget = $("#NewWidgetSelect").val()
    if(widget) {
        $.get('/widget/itemTemplate/' + widget,
			function( data ) {
				$('#widgetViewText').html(data.content);
				$('#widgetViewHeader').html(data.name);
        })
    }
  }

  /*
  * Function to edit templates when adding widgets
  */
  function NewEditWidget() {
    widget = $("#NewWidgetSelect").val()
    if(widget) {
        document.location.href='/widget/editor/' + widget
    }
  }

  function borrarWidget(frame, order) {
    var confirmacion = confirm('¿Quieres eliminar este widget?');
    if (confirmacion) {
      $.ajax({
        url: `/dashboard/editor/{{dashboard.name}}/${frame}/${order}`,
        type: 'DELETE',
        contentType: 'application/json',
        success: function() {
            alert('Widget borrado correctamente');
            window.location.reload();
        },
        error: function(error) {
            console.error('Error al borrar el widget:', error);
        }
      });
    }
  }


  function añadirNuevoWidget(frame){
    const widgetData = {
      frame: $('#frame').val(),
      order: $('#order').val(),
      type: $('#NewWidgetSelect').val(),
      url: $('#url').val(),
      doc: btoa($('#doc').val()),
      grant: $('#grant').val(),
      title: $('#title').val(),
      info: $('#info').val(),
      label: $('#label').val(),
      js: $("#NewScriptSelect").val(),
    };
    
    $.ajax({
      type: 'POST',
      url: `/dashboard/add/{{dashboard.name}}/${frame}`, 
      contentType: 'application/json',
      data: JSON.stringify(widgetData),

      success: function(response) {
        alert('Widget añadido correctamente');
        window.location.reload();
      },
      error: function(error) {
        console.error('Error al crear el nuevo widget');
      }
    });
  }

</script>